/* main.css */
body{
	background: #fff;
	margin: auto;
	font-family: arial;
	color:#222;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding:0;
}

a{
	text-decoration: none;
	color:#fff;
}

header{
	margin-top: 10px;
	text-align: center;
}

pre{
	background-color: #bbb;
	max-width: 90%;
	margin: auto;
	text-align: left;
	overflow-y: auto;
	padding: 10px;
}

.right{
	float: right;
}

.break{
	clear:both;
}

div.content{
	width: 800px;
	margin: auto;
	box-shadow:8px 0 8px -10px #000000,-8px 0 8px -10px #000000;
}

header h1 strong{
	text-transform: uppercase;
}

header nav{
	min-height: 145px;
	line-height: 145px;
	border-radius: 3px;
}

header nav ul.menu li{
	display: inline-block;
	background-color: #400;
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 4px;
	margin-bottom: 4px;
	cursor: move;
	font-size: 0.75em;
	text-transform: uppercase;
	width: 145px;
	box-shadow: 0px 4px 3px #000;
}

header nav ul.menu li:hover{
	background-color: #800;
	box-shadow: 0px 4px 3px #bbb;
}

header nav ul.menu li:hover > a{
	color:#000;
}

div.run{
	height: 300px;
	line-height: 300px;
	text-align: center;
	width: 800px;
	margin: auto;
	box-shadow: 0px 0px 10px #000;
	border-radius: 3px;
}

#stats{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
}

section.howto{
	margin-top: 15px;
	margin-bottom: 15px;
}

.slider{
	width: 800px;
	min-width: 800px;
	height: 300px;
	min-height: 300px;
	line-height: 300px;
	margin: auto;
	box-shadow:8px 0 8px -10px #000000,-8px 0 8px -10px #000000;
	position: relative;
	background-color: #fff;
	/* with width limit this rule enables to hide the inner bloc outside */
	overflow: hidden;
}

.slide{
	height: inherit;
	width: inherit;
	min-width: inherit;
	min-height: inherit;
	top: 0;
	left: 0px ;
	position: absolute;
	color: #000;
	background-color: #777;
}

.slide.current{
	background-color: #aaa;
	z-index: 1000;
}